@import "../../global.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1pt solid $light-grey;
  z-index: 1;
  position: relative;
  background: $very-light-grey;
  > * {
    display: inline-block;
    margin: $med-mg;
  }

  .logo {
    padding: $med-mg;
  }
}
