@import "../../global.scss";

.container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  // position: relative;
  .section,
  .fullWidthSection {
    display: block;
    // position: relative;
    margin: $big-mg auto 2 * $large-mg auto;
    max-width: $site-width;
    justify-content: center;
    // text-align: center;
  }
  .fullWidthSection {
    margin: $big-mg 0 2 * $large-mg 0;
    max-width: 100%;
  }
  .bg {
    z-index: -1;
    position: fixed;
  }
}
