@import "../../../global.scss";

.relatedPosts {
  margin: $big-mg 0;

  .title {
  }

  .card {
    background: $light-grey;
    padding: $sml-mg $med-mg;
    display: inline-block;
    width: 30%;
    margin: $sml-mg;
    overflow-x: hidden;
    &:hover {
      background: $green;
      .title {
        color: white;
      }
      .excerpt {
        a,
        p {
          color: white;
        }
      }
    }
    .title {
      font-size: $book-font;
      margin-right: $med-mg;
      margin-bottom: 0;
      text-align: left;
    }
    .excerpt {
      text-align: left;
      p,
      a {
        font-size: $sml-font;
      }
    }
  }
}
