@import "../../../global.scss";

.main {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  position: relative;
  .container {
    max-width: $module-width;
    display: block;
    position: relative;
    margin: $big-mg auto 2 * $large-mg auto;
    .title {
      font-size: $big-font;
      line-height: 1.2;
      text-align: center;
      display: block;
    }
    .content {
      display: block;
      margin: $big-mg;
      text-align: center;
      h3 {
        margin-bottom: $med-mg;
      }
    }
  }

  .bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
    top: 0;
    left: 0;
    z-index: -1;
  }
}
