@import "../../../global.scss";

.slider {
  width: $site-width;
  display: block;
  .fact {
    text-align: center;
    width: $site-width;
    position: relative;
    display: none;
    .label {
      text-transform: uppercase;
      color: $med-grey;
      font-weight: bolder;
    }
    .title {
      line-height: 1.2;
      margin: $sml-mg 0;
      color: $dark-green;
      font-weight: bolder;
    }
    &:first-child {
      display: block;
    }
  }
}
