@import "../../../global.scss";

.section {
  padding: $big-mg;
  position: relative;
  margin: 0 auto;
  .title {
    margin: $med-mg;
    margin-left: $med-mg + 10px;
    text-align: left;
    font-size: $med-font;
    font-weight: bolder;
  }
  .completedTasks,
  .incompleteTasks {
    display: flex;
    flex-wrap: wrap;
  }
}
