@import "../../../global.scss";

.container {
  display: inline-block;
  margin: 0 $sml-mg;
  position: relative;
  .loggedIn {
    .avatar {
      display: inline-block;
      margin-right: $sml-mg;
      .img {
        width: 24px;
        height: 24px;
        border-radius: 100px;
        position: relative;
        top: 8px;
      }
    }
    .label {
      display: inline-block;
      font-size: $sml-font;
    }
    .button {
      display: none;
      top: 0;
      right: 0;
      & > * {
        margin: 0;
      }
    }
    &:hover {
      .label {
        display: none;
      }
      .button {
        display: inline-block;
      }
    }
  }
}
