@import "../../../global.scss";

.slider {
  max-width: 600px;
  position: relative;
  margin: $large-mg auto;
}

.toolTip {
  color: white;
}

.mark {
  font-size: $sml-font;
  text-align: center;
  text-transform: uppercase;
  left: 8px;
  position: relative;
  font-weight: bolder;
}
