@import "../../global.scss";

.section {
  position: relative;
  max-width: $site-width;
  margin: 0 auto;
  display: block;
  .body {
    display: flex;
    background: $very-light-grey;
    margin: $med-mg;
    padding: 0 $large-mg;
    border-radius: $sml-mg;
    box-shadow: $big-shadow;
    .icon {
      margin: $large-mg $large-mg $big-mg 0;
      .label {
        margin: $med-mg 0;
      }
      .badge {
        width: 200px;
      }
    }
    .content {
      margin: $large-mg auto;
      text-align: left;
      .title {
        font-weight: bolder;
        margin-bottom: 0;
        color: $dark-green;
      }
      .points {
        font-size: $sml-font;
        padding: $sml-mg;
        border-radius: $sml-mg;
        background: $dark-green;
        color: $very-light-grey;
        display: inline-block;
      }
    }
  }
}
